@font-face {
    font-family: lovera;
    src: url("/fonts/Lovera.woff2");
}

@font-face {
    font-family: houstiq;
    src: url("/fonts/Houstiq/Web-TT/Houstiq.woff")
}

 :root {
    --main-red-color: #863b1d;
    --main-black-color: #142a2b;
    --main-almond-color: #e1cdb5;
    --main-pink-color: #a26769;
}

.header-image {
    max-width: 600px
}

img {
    max-width: 400px;
}

body {
    background-color: var(--main-almond-color)!important;
    color: var(--main-black-color)!important; 
}

.nav-link {
    color: var(--main-black-color) !important;
}

.dropdown-menu {
    background-color: var(--main-almond-color)!important;
    color: var(--main-black-color)!important; 
}

.nav-link:hover {
    color: var(--main-red-color) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--main-almond-color)!important;
    color: var(--main-red-color)!important; 
}

.card {
    background-color: var(--main-almond-color)!important;
    color: var(--main-black-color)!important; 
    border: 1px solid var(--main-black-color)!important;
    border-radius: 0px !important;
    height: 100% !important;
}

.carousel-img {
    width: 100%;
    height: 100vh !important;
    object-fit: cover;
}

.poster-img {
    object-position: top;
    
}

.carousel-text {
    background-image: linear-gradient(to bottom, transparent, black, transparent)
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: black; */
}

.caption {
padding-bottom: 0% !important;
}

.Emily-img {
    object-position: top;
}

.foot-info {
    justify-content: center !important;
    text-align: center !important;
}

.foot-img {
    max-width: 80px;
}

.h3, h3 {
    font-size: 25px !important;
}

.about-us {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}